.app-logo {
  display: flex;
  width: 90%;
  height: 90px;
  margin: 0 auto 20px;
  justify-content: space-around;
  align-items: center;
}

.header-button {
  position: relative;
  display: inline-block;
  color: #ccc;
  cursor: pointer;
}

.header-button .hover-text {
  display: none;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.header-button:hover .hover-text {
  display: block;
}
